/* ----- UNIVERSAL RULES ----- */

html {
    background-color:#F5DD9D;
}

body {
    margin:0px;
}

/* ----- HEADER RULES ----- */

#mobile-menu-banner {
    display:none;
}

#mobile-nav-bar {
    display:none;
}

#mobile-checkbox {
    display:none;
}

#nav {
    background-color:#495DA4;
    text-align:center;
}

#nav ul {
    list-style-type:none;
    display:inline-block;
    text-decoration:none;
    padding:0px;
}

#nav li {
    display:inline-block;
    vertical-align:middle;
    padding:0px 20px;
    border-left:1px solid #F5DD9D;
    border-right:1px solid #F5DD9D;
}

#nav a {
    font-family:"Montserrat", sans-serif;
    font-size:20px;
    font-weight:900;
    color:#F5DD9D;
    text-decoration:none;
}

#nav a:hover {
    color:#F0A013;
}

#nav li:first-child {
    padding-left:0px;
    border-left:none;
}

#nav li:last-child {
    padding-right:0px;
    border-right:none;
}

#nav li:nth-child(3) {
    border-right:none;
}

#nav li:nth-child(4) {
    padding:0px;
    border:none;
}

#nav li:nth-child(5) {
    border-left:none;
}

#nav img {
    height:100px;
}

/* ----- FOOTER RULES ----- */

#end {
    background-color:#F5DD9D;
    padding:50px 0px;
    text-align:center;
    color:#495DA4;
    font-family:"Manrope", sans-serif;
}

#end .sub-header {
    display:inline-block;
    font-family:"Montserrat", sans-serif;
    font-size:25px;
    font-weight:300;
    margin:30px auto 10px auto;
}

#end .contact {
    display:flex;
    justify-content:center;
    gap:10px;
    margin:0px auto;
}

#end .label {
    text-align:right;
    font-size:15px;
    width:55px;
}

#end .info {
    text-align:left;
    font-size:15px;
    width:160px;
}

#end .icons {
    display:flex;
    justify-content:space-between;
    margin:0px auto;
    width:25%;
    margin:20px auto 0px auto;
}

#end .icons a {
    text-decoration:none;
    color:#495DA4;
    font-size:30px;
}

/* ----- HOME PAGE BACKGROUND PHOTO RULES ----- */

#banner {
    background-image:url("../images/banner.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    text-align:center;
    height:600px;
}

#banner div {
    display:inline-block;
    margin:40px 0 450px 0;
    border-top:3px solid #F5DD9D;
    border-bottom:3px solid #F5DD9D;
    font-family:"Bebas Neue", sans-serif;
    color:#F5DD9D;
    font-size:70px;
    font-weight:900;
}

/* ----- MUTUAL PAGE RULES ----- */

.section {
    background-color:#F5DD9D;
    font-family:"Manrope", sans-serif;
    text-align:center;
    padding:40px 0px;
    font-size:20px;
    width:100%; 
}

.section.blue {
    background-color:#495DA4;
    color:#F5DD9D;
}

.section.yellow {
    background-color:#F5DD9D;
    color:#495DA4;
}

.header {
    display:inline-block;
    font-size:40px;
    padding:20px 40px;
    border-bottom-width:3px;
    border-bottom-style:solid;
}

.section.blue .header {
    color:#F5DD9D;
}

.section.yellow .header {
    color:#1C45A3;
}

.header.no-border {
    border:none;
}

.topic-header {
    display:inline-block;
    font-family:"Montserrat", sans-serif;
    font-size:50px;
    font-weight:500;
    padding:0px 25px;
    border-top-width:3px;
    border-top-style:solid;
    border-bottom-width:3px;
    border-bottom-style:solid;
}

.rsvp-button {
    display:inline-block;
    color:#3A77B0;
    font-family:"Montserrat", sans-serif;
    font-weight:900;
    font-size:25px;
    text-decoration:none;
    padding:15px;
    border:7px solid #F08F00;
    border-radius:45px;
    background-color:#F5DD9D;
}

.rsvp-button:hover {
    border:7px solid #F5DD9D;
    background-color:#3A77B0;
    font-weight:900;
    color:#F5DD9D;
}

/* ----- FLEX BOX RULES ----- */

.block-list {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:stretch;
    gap:35px;
    margin:40px auto;
}

.block-elt {
    display:inline-block;
    background-color:#F5DD9D;
    padding:20px;
    width:42%;
    border-radius:40px;
    align-items:center;
    color:#495DA4;
}

/* ----- HOME PAGE RULES ----- */

.listing {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    width:60%;
    color:#F5DD9D;
    font-family:"Manrope", sans-serif;
    margin:60px auto;
    font-size:20px;
    font-weight:700;
}

.listing-blocks {
    display:inline-block;
    background-color:#495DA4;
    padding:15px;
    border-radius:20px;
}

.listing-blocks.concert-info {
    width:50%;
    text-align:left;
}

.listing-blocks.ticket-info {
    width:15%;
    min-width:115px;
    text-align:center;
    text-decoration:none;
    color:#F5DD9D;
}

a.listing-blocks.ticket-info:hover {
    border:5px solid #495DA4;
    background-color:#F0A013;
    font-weight:900;
    color:#495DA4;
}

.location {
    display:inline-block;
    vertical-align:middle;
}

.location.theater {
    width:60%;
}

.listing-blocks.ticket-info.free {
    border:3px solid #495DA4;
    background-color:#F5DD9D;
    color:#495DA4;
}

/* ----- BOOK PAGE RULES ----- */

label,input,select,textarea {
    display:block;
    font-size:25px;
}

.form-input-container {
    display:flex;
    justify-content:center;
    gap:100px;
}

.label-container {
    display:inline-block;
    text-align:left;
    vertical-align:middle;
    min-width:260px;
}

.label-left {
    width:30%;
    margin-left:150px;
}

.label-right {
    width:40%;
}

.label-container > div {
    margin:20px 0px;
}

.reserve label {
    margin-bottom:10px;
}

.non-check-input,select {
    width:250px;
    height:40px;
    border:3px solid #F5DD9D;
    border-radius:5px;
    background-color:#D4D4D4;
    font-size:15px;
}

.checkbox-title {
    margin-bottom:10px;
    font-size:25px;
}

.checkbox-rows {
    display:inline-block;
    width:45%;
}

.checkbox label {
    display:inline-block;
}

.checkbox input {
    display:inline-block;
}

.textarea-box {
    display:block;
    width:60%;
    text-align:left;
    margin:50px auto;
}

textarea {
    box-sizing:border-box;
    width:100%;
    height:100px;
    border:3px solid #F5DD9D;
    border-radius:5px;
    background-color:#D4D4D4;
    font-size:15px;
}

.subscribe-input {
    margin:20px auto;
    text-align:center;
}

.subscribe-button {
    width:190px;
    height:50px;
    margin:0px auto;
    border-radius:50px;
    background-color:#6DB5EF;
    border:3px solid #F0CC46;
    font-size:25px;
    color:#495DA4;
}

.subscribe-button:hover {
    background-color:#F0CC46;
}

/* ----- SONGS PAGE RULES ----- */

.songs .artist-name {
    display:block;
}

.block-elt ul {
    text-align:left;
}

.songs .block-list {
    margin-left:20px;
    margin-right:20px;
}

.songs .block-elt {
    width:300px;
}

/* ----- FAQ PAGE RULES ----- */

.faq p {
    width:80%;
    margin:20px auto;
}

.faq .block-elt {
    display:flex;
}

.block-elt img {
    width:300px;
    display:block;
    border-radius:40px;
}

.block-img {
    display:inline-block;
    margin-right:30px;
}

.block-bio {
    display:inline-block;
    color:#495DA4;
}

.artist-name {
    font-size:30px;
    font-weight:900;
}

.artist-job {
    font-style:italic;
    margin-bottom:20px;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width:1475px) {
    .location.city {
        display:block;
        margin-top:20px;
    }

    .location.theater {
        width:100%;
    }
}

@media (max-width:1300px) {
    .faq .block-list {
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .faq .block-elt {
        width:60%;
    }
}

@media (max-width:950px) {
    .form-input-container {
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:0px;
    }

    .label-container {
        margin:0px;
        width:50%
    }

    .label-container > div {
        margin-top:40px;
    }

    .checkbox-rows {
        display:block;
        width:100%;
    }

    .label-container > div {
        margin-bottom:0px;
    }

    .label-container.label-left,.label-container.label-right {
        width:260px;
    }

    textarea {
        width:100%;
    }
}

@media (max-width:900px) {
    .section .header {
        border:none;
    }

    .section .header {
        border:none;
    }

    .faq .block-elt,
    .block-img,.block-bio,
    .listing,
    .listing-blocks.concert-info,
    .listing-blocks.ticket-info {
        display:block;
    }

    .faq .block-elt {
        width:70%;
    }

    .block-img {
        margin-right:0px;
    }

    .faq .block-elt img {
        margin:0px auto;
        margin-bottom:15px;
    }

    .listing {
        width:280px;
    }

    .listing-blocks.concert-info {
        width:250px;
    }

    .listing-blocks.ticket-info {
        margin-top:20px;
    }

    .listing-blocks {
        margin:0px auto;
    }

    .rsvp-button {
        width:150px;
    }

    #end .icons {
        width:60%;
    }
}

@media (max-width:750px) {
    #nav {
        display:none;
    }

    #mobile-menu-banner {
        display:block;
        position:relative;
        background-color:#495DA4;
        min-height:100px;
    }

    #drop-down-block {
        position:absolute;
        right:35px;
        top:35px;
    }

    #drop-down-block span {
        height:5px;
        width:40px;
        background-color:#F5DD9D;
        display:block;
        margin-bottom:10px;
        border-radius:3px;
    }

    #drop-down-block ul {
        position:absolute;
        list-style-type:none;
        text-decoration:none;
        padding:0px;
        margin:0px;
        right:5px;
    }

    #drop-down-block ul li {
        margin-top:5px;
    }

    #drop-down-block li a {
        display:block;
        width:150px;
        padding:10px;
        background-color:#F5DD9D;
        border:3px solid #F5C449;
        border-radius:15px;
        margin-top:5px;
        text-decoration:none;
        font-family:"Montserrat", sans-serif;
        color:#495DA4;
    }

    #drop-down-block li a:hover {
        background-color:#F5C449;
    }

    #mobile-menu-banner input:checked ~ #mobile-nav-bar {
        display:block;
    }

    #mobile-checkbox {
        position:absolute;
        bottom:7px;
        left:10px;
    }
}

@media (max-width:500px) {
    #banner div {
        width:260px;
    }

    #long-topic-header {
        width:300px;
        padding:0px;
    }
}

@media (max-width:400px) {
    .topic-header {
        padding:0px;
        font-size:40px;
    }

    .block-elt img {
        max-width:100%;
    }

    .header {
        font-size:30px;
    }
}